<configuration>



<appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">

    <file>logs/app.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>logs/app-%d{yyyy-MM-dd}.log</fileNamePattern>
        <maxHistory>30</maxHistory>
    </rollingPolicy>

    <encoder>
        <pattern>%d %p %c{1} [%t] %m%n</pattern>
    </encoder>
</appender>

<logger name="io.proj3ct.SpringDemoBot" level="debug" additivity="false">
    <appender-ref ref="FILE-ROLLING"/>
</logger>

<root level="error">
    <appender-ref ref="FILE-ROLLING"/>
</root>

<root level="info">
    <appender-ref ref="FILE-ROLLING"/>
</root>

</configuration>